.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.transition-opacity {
  transition: opacity 1s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}